#gameFrame {
	color: rgb(0, 0, 0);
	background: rgba(25, 0, 184, 0.5);
	width: 500px;
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: auto;
	padding: 15px;
	font-family:"Courier New", Courier, monospace;
	font-size: 300%;
}
table{
    table-layout: fixed;
    width: 500px;
}
td {
width: 50px;
}